.contact {
	background-color: var(--clr-color3);
	color: var(--clr-light-gray);
	padding-bottom: 2rem;

	.title {
		color: var(--clr-light-gray);
	}

	.inner {
		text-align: left;
		font-size: var(--fs-md1);
		font-weight: 300;
		margin-bottom: 4.5rem;

		.social {

			&__items {

				a {
					display: flex;
					align-items: center;
					color: var(--clr-light-gray);
					transition: color 250ms ease-in-out;

					svg {
						flex-shrink: 0;
						width: 2rem;
						height: auto;
					}

					span {
						margin-left: 1rem;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					&:hover {
						color: var(--clr-green);
					}
				}
			}

			&__items:not(:last-child) {
				margin-bottom: 1.2rem;
			}

			@media (min-width: 768px) {
				width: 60%;
				min-width: 500px;
				margin: 1.5rem auto;
				padding: 2rem 2rem;
				border-top: 1px solid rgba(255, 255, 255, 0.2);
				border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			}
		}
	}

	&__footnote {
		font-size: .8rem;
		font-weight: 300;

		span {
			font-weight: 500;
		}
	}
}