 .portfolio-item {
	padding: 6.875rem 2rem;
	background-color: var(--clr-tan);

	.inner {
		max-width: 1200px;

		.section--title {
		
			&::after {
				content: "";
				display: block;
				position: relative;
				top: 10px;
				left: 0;
				width: 100px;
				height: 4px;
				margin: unset;
				background-color: var(--clr-green);
			}
		}
	
		img {
			display: block;
			margin: 2rem auto;
			border-radius: 10px;
			box-shadow: 0 3px 12px var(--clr-bx-shadow-gray);
		}
	}
	
 }